{% extends 'base/base.html' %} {% block title %} {% endblock title %} {% block style %} {% endblock style %} {% block content %}
<h1>address</h1>
<form action="" method="post" style="width: 80%; margin: auto">
  {%csrf_token%} {{form}}
  <button type="submit" class="mt-4 btn btn-primary">create address</button>
</form>
<div class="container mt-3">
  <div class="row">
  {% for item in data %}
  <div class="col-md-4">
    <div class="card text-start p-3">
        <p>address line 1: {{item.address_line1}}</p>
        <p>address line 2: {{item.address_line2}}</p>
        <p>city: {{item.city}}</p>
        <p>postalcode: {{item.postal_code}}</p>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock content %}
