{% extends 'base/base.html' %} {% block title %} {% endblock title %} 
{% block style %} {% endblock style %} {% block content %}
<h1 class="text-center mb-3">Your orders</h1>
{% for item in data%}
<div class="d-flex justify-content-between mx-5" style="color: black;">
  <span>Order id</span>
  <span>Total amount</span>
  <span>Payment method</span>
  <span>Order status</span>
</div>
<div class="d-flex justify-content-between mx-5">
  <span>{{item.orderid}}</span>
  <span>{{item.total}}</span>
  <span>{{item.paymentmethod}}</span>
  <span class="text-success "><b>{{item.status}}</b></span>
</div>
{%for i in item.products %}
<p class='mx-5 mt-0 mb-0 text-primary'>{{i.productname}}  qty({{i.quantity}})</p>
{%endfor%}
<hr >
{%endfor%}

<br />



{% endblock content %}
