{% extends 'base/base.html' %} {% block title %} register {% endblock title %}
{% block style %} {% endblock style %} {% block content %}
<style>
form label,input{
    width: 100%;
 
}
form input{
    border: 2px solid rgb(108, 108, 108);
}
</style>

<div class="d-flex justify-content-center flex-column align-items-center" style="width: 100%;">
  <h2>Set new password</h2>
  <form method="post"  style="width: 300px;margin: auto;">
    {% csrf_token %}

    <label for="pass1" class="d-block mt-4">New Password:</label>
    <input type="password" class="ps-2 py-2" name="pass1" id="pass1"   required /><br />

    <label for="pass2" class="d-block mt-4">Confirm new Password:</label>
    <input type="password" class="ps-2 py-2" name="pass2" id="pass2"  required /><br />



    <button type="submit" class="mt-4 btn btn-primary">Reset now</button>
  </form>
</div>
{% endblock content %}
