{% load static %}
<!-- Start Service Area -->
<div class="rn-service-area rn-section-gap section-separator" id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="section-title text-left"
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="100"
          data-aos-once="true"
        >
          <span class="subtitle">ABOUT ME</span>
          <h2 class="title">Who am i ?</h2>
        </div>
      </div>
    </div>
    <div class="row row--25 mt_md--10 mt_sm--10">
      <!-- Start Single Service -->
      <div
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="500"
        data-aos-once="true"
        class="col-md-8 mt--50 mt_md--30 mt_sm--30"
      >
        <div class="rn-service">
          <div class="inner">
            <div class="content">
              <p class="description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
                nisi laborum sequi eius dicta, iste quam quibusdam, facilis
                possimus beatae qui quasi explicabo, natus magnam rerum itaque
                quidem tempora veniam harum. Quas sequi reprehenderit est optio
                doloribus qui, eveniet architecto consequuntur magnam saepe
                nesciunt esse nulla repudiandae dolor repellat dicta vitae
                molestias, voluptatem quo omnis minima at. Suscipit, vitae
                error. Eveniet quibusdam facilis repudiandae laboriosam, dolorum
                recusandae ut voluptates quaerat quae. Velit odio autem
                praesentium numquam minus eos quaerat incidunt quia, fugit
                distinctio consequatur! Voluptates nemo, adipisci distinctio
                tempora reprehenderit recusandae corrupti, molestias debitis
                ullam aliquam, amet magnam laborum laboriosam?
              </p>

            </div>
          </div>

        </div>
      </div>
      <div data-aos="fade-up"
      data-aos-duration="500"
      data-aos-delay="500"
      data-aos-once="true"
      class="col-md-4 mt--50 mt_md--30 mt_sm--30" >
        <img src="{% static 'media/aboutdp.jpg' %}" alt="">
      </div>
      <!-- End SIngle Service -->
    </div>
  </div>
</div>
<!-- End Service Area  -->
