    <!-- Start Footer Area -->
    <div class="rn-footer-area rn-section-gap section-separator">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-area text-center">

                        <div class="logo">
                            <a href="index.html">
                                <p class="mb-1">Welcome you again</p>
                                <p class="mb-1">by</p>
                                <h3>VIGNESH RAVI</h3>
                            </a>
                        </div>

                        <p class="description mt--30">© <a target="_blank" href="">Design and developed by</a><span class="text-danger"><a href="https://www.vigneshravi.com" class="text-danger">Vignesh ravi</a></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->



