<!-- Start Resume Area -->
<div class="rn-resume-area rn-section-gap section-separator" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <span class="subtitle">7+ Years of History</span>
          <h2 class="title">Our Journey</h2>
        </div>
      </div>
    </div>
    <div class="row mt--45">
      <div class="col-lg-12">
        <p
          class="nav-link active"
          id="education-tab"
          data-toggle="tab"
          href="#education"
          role="tab"
          aria-controls="education"
          aria-selected="true"
          >short description goes here Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia sint non voluptas corporis ad perferendis sed in incidunt harum. Quod porro ipsam fuga quibusdam fugit?</
        >

        <!-- Start Tab Content Wrapper  -->
        <div class="rn-nav-content tab-content" id="myTabContents">
          <!-- Start Single Tab  -->
          <div
            class="tab-pane show active fade single-tab-area"
            id="education"
            role="tabpanel"
            aria-labelledby="education-tab"
          >
            <div class="personal-experience-inner mt--40">
              <div class="row">
                <!-- Start Skill List Area  -->
                <div class="col-12">
                  <div class="content">
                    <span class="subtitle">2010 - Now</span>
                    <h4 class="maintitle">VARANAM PROPERTIES</h4>
                    <div class="experience-list">
                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>title goes here</h4>
                              <span>year from to (2026-2030)</span>
                            </div>
                            <div class="date-of-time">
                    
                            </div>
                          </div>
                          <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Reiciendis, aut repudiandae, maiores
                            reprehenderit, veritatis illum voluptas veniam optio
                            harum sit dolor! Atque sapiente ipsa, non dolore
                            deleniti distinctio voluptatem, excepturi, ipsam
                            modi magni nemo minus.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>title goes here</h4>
                              <span>year from to (2026-2030)</span>
                            </div>

                          </div>
                          <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Reiciendis, aut repudiandae, maiores
                            reprehenderit, veritatis illum voluptas veniam optio
                            harum sit dolor! Atque sapiente ipsa, non dolore
                            deleniti distinctio voluptatem, excepturi, ipsam
                            modi magni nemo minus.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>title goes here</h4>
                              <span>year from to (2026-2030)</span>
                            </div>

                          </div>
                          <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Reiciendis, aut repudiandae, maiores
                            reprehenderit, veritatis illum voluptas veniam optio
                            harum sit dolor! Atque sapiente ipsa, non dolore
                            deleniti distinctio voluptatem, excepturi, ipsam
                            modi magni nemo minus.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>title goes here</h4>
                              <span>year from to (2026-2030)</span>
                            </div>
                          </div>
                          <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Reiciendis, aut repudiandae, maiores
                            reprehenderit, veritatis illum voluptas veniam optio
                            harum sit dolor! Atque sapiente ipsa, non dolore
                            deleniti distinctio voluptatem, excepturi, ipsam
                            modi magni nemo minus.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->
                    </div>
                  </div>
                </div>
                <!-- End Skill List Area  -->
              </div>
            </div>
          </div>
          <!-- End Single Tab  -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Resume Area -->
