        {% load static %}
        <style>
    
            .calltoaction{
                width: 50%;
                margin-top: 15px;
            }
            @media only screen and (max-width: 600px) {
                .calltoaction{
                    width: 100% !important;
                }
              }
        </style>
        <!-- Start Slider Area -->
        <div id="home" class="rn-slider-area">
            <div class="slide slider-style-1">
                <div class="container ">
                    <div class="row row--30 align-items-center">
                        <div class="order-2 order-lg-1 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
                            <div class="content">
                                <div class="inner">
                                    <span class="subtitle">Welcome to my world of Vignesh</span>
                                    <h1 class="title" style="color: black;">2+ years  <span class="text-danger">Excellence</span><br>
                                        <span class="header-caption" id="page-top">
                                            <!-- type headline start-->
                                            <span class="cd-headline clip is-full-width">
                                           
                                        <!-- ROTATING TEXT -->
                                          <span class="cd-words-wrapper">
                                            <b class="is-visible">in web developement</b>
                                            <b class="is-hidden">in webapp developement</b>
                                            <b class="is-hidden">in corporate training</b>
                                          </span>
                                        </span>
                                        <!-- type headline end -->
                                        </span>
                                    </h1>

                                    <div>
                                        <p class="description">I'm freelance Webdeveloper and Corporate-trainer...</p>
                                    </div>
                                    <div class="calltoaction">
                                        <a href="#contacts"><button class="btn btn-outline-danger py-4"><span style="font-size: 20px;">Get your website</span></button></a>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                        <div class="social-share-inner-left">
                                            <span class="title">Follow Me</span>
                                            <ul class="social-share d-flex liststyle">
                                                <li class="facebook"><a href=""><i data-feather="facebook" class="text-danger"></i></a>
                                                </li>
												<li class="youtube"><a href=""><i data-feather="youtube" class="text-danger"></i></a>
                                                </li>
                                                <li class="instagram"><a href="#"><i data-feather="instagram" class="text-danger"></i></a>
                                                </li>
                                                <li class="linkedin"><a href="#"><i data-feather="linkedin" class="text-danger"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
  
                                </div>
                            </div>
                        </div>

                        <div class="order-1 order-lg-2 col-lg-5">
                            <div class="thumbnail">
                                <div class="inner">
                                    <img src="{% static 'assets/images/dev.png' %}" alt="Personal Portfolio Images" style="background-color: white;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area -->