{% load static %}        
        <!-- Start Testimonia Area  -->
        <div class="rn-testimonial-area rn-section-gap section-separator" id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span class="subtitle">TESTIMONIAL</span>
                            <h2 class="title">What My Client Says !</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial-activation testimonial-pb mb--30">





                            <!-- Start Single testiminail -->
                             {% for item in testimonial %}
                            <div class="testimonial mt--50 mt_md--40 mt_sm--40">
                                <div class="inner">
                                    <div class="card-info">
                                        <div class="card-thumbnail">
                                            <img src="{{item.image.url}}" alt="Testimonial-image">
                                        </div>
                                        <div class="card-content">
                                            <span class="subtitle mt--10">{{item.name}}</span>
                                            <h3 class="title">{{item.name}}</h3>
                                            <span class="designation">{{item.role}}</span>
                                        </div>
                                    </div>
                                    <div class="card-description">
                                        <div class="title-area">
                                            <div class="title-info">
                                                <h3 class="title">"{{item.company}}..</h3>
                                            </div>
                                            <div class="rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <p class="discription">{{item.description}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--End Single testiminail -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonia Area  -->