    <div class="container-fluid pt-5 pb-3" id="feature">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
        <div class="row px-xl-5">

            {% for item in featured_product %}

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{item.image.url}}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{item.name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                           
                           <h6 class="text-muted ml-2"><span class="text-success ms-1"> -{{item.discount}}%</span><del class="mx-1">{{item.price}}</del></h6>
                           <h5>&#8377;{{item.discounted_price}}/-</h5>
                        </div>
                        <div class='d-flex justify-content-center'>
                            <a href="{% url 'productdetial' item.id %}" class='mx-1'><button class="btn btn-info text-white">Buy now</button></a>
                            <form method="post" action="{% url 'add_to_cart' item.id %}" class='mx-1'>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            <!-- <div class="col-12 mt-3">
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; first</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
    
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active">
                                    <a class="page-link" href="#feature">{{ num }}</a>
                                </li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
    
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#feature" tabindex="-1">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>  -->

            <!-- <div class="col-12 mt-3">
                <nav>
                    <ul class="pagination justify-content-center" id="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="#feature" data-page="1">&laquo; first</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#feature" data-page="{{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#feature" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
    
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active">
                                    <a class="page-link" href="#feature" data-page="{{ num }}">{{ num }}</a>
                                </li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="#feature" data-page="{{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
    
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="#feature" data-page="{{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#feature" data-page="{{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div> -->



        </div>
    </div>

    <!-- <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div> -->