    <div class="container-fluid pt-5 pb-3" id="feature">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
        <div class="row px-xl-5">

            {% for item in featured_product %}

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1" >
                
                <div class="product-item bg-light mb-4" style="box-shadow: 0 4px 8px 0 rgba(205, 198, 198, 0.2), 0 6px 20px 0 rgba(220, 211, 211, 0.19);">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{item.image.url}}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="{% url 'add_to_wishlist' item.id %}"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{item.name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                           
                           <h6 class="text-muted ml-2"><span class="text-success ms-1"> -{{item.discount}}%</span><del class="mx-1">{{item.price}}</del></h6>
                           <h5>&#8377;{{item.discounted_price}}/-</h5>
                        </div>
                        <div class='d-flex justify-content-center'>
                            <a href="{% url 'productdetial' item.id %}" class='mx-1'><button class="btn btn-info text-white">View detail</button></a>
                            <form method="post" action="{% url 'add_to_cart' item.id %}" class='mx-1'>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Buy now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}



        </div>
    </div>

 