{% for msg in messages %}
<div class="alert alert-info alert-dismissible fade show" role="'alert">
  {{msg}}
  <button class="btn-close" data-bs-dismiss="alert" aria-label="close"><span style="font-size: 30px;"></span></button>
</div>
{% endfor %}  


{% comment %} <div class="container mt-3">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
</div> {% endcomment %}

{% comment %} {% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %} {% endcomment %}
