<div class="col-lg-3 d-none d-lg-block mobilecategory mb-3" style="display: block">
  <a
    class="btn d-flex align-items-center justify-content-between bg-primary w-100"
    data-toggle="collapse"
    href="#navbar-vertical"
    style="height: 50px; padding: 0 30px"
  >
    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
    <i class="fa fa-angle-down text-dark"></i>
  </a>
  <nav
    class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
    id="navbar-vertical"
    style="width: calc(100% - 30px); z-index: 999"
  >
    <div class="navbar-nav w-100">
      {% for item in categories %}
      <a href="{% url 'shop' item.name %}" class="nav-item nav-link"
        >{{item.name}}</a
      >
      {% endfor %}
    </div>
  </nav>
</div>






<script>
    document.addEventListener("DOMContentLoaded", function() {
      const searchInput = document.getElementById("search-input");
      const searchResults = document.getElementById("search-results");

      
      
  
      searchInput.addEventListener("input", function() {
        const query = searchInput.value.trim();
        console.log("hi");
  
        if (query.length > 0) {
          fetch(`/search/?query=${encodeURIComponent(query)}`, {
            method: "GET",
            headers: {
              "X-Requested-With": "XMLHttpRequest",
            },
          })
          .then(response => response.json())
          .then(data => {
            if (data.products) {
              searchResults.innerHTML = data.products.map(product => `
              <a href="http://127.0.0.1:8000/productdetial/${ product.id }">
                <div class="search-result-item">
                  <img src="/media/${product.image}" alt="${product.name}" width="50">
                  <span>${product.name}</span>
                  <span>₹${product.price}</span>
                </div>
             </a>
              `).join('');
            } else {
              searchResults.innerHTML = '<p>No products found</p>';
            }
          })
          .catch(error => {
            console.error("Error fetching search results:", error);
          });
        } else {
          searchResults.innerHTML = '';
        }
      });
    });
  </script>


<style>
    .mobilecategory{
        display: none !important;
    }
    .search-results {
      position: absolute;
      top: 36px;
      background-color: white;
      border: 1px solid #ccc;
      width: 100%;
      z-index: 1000;
    }
    .search-result-item {
      display: flex;
      align-items: center;
      padding: 5px;
      border-bottom: 1px solid #eee;
    }
    .search-result-item img {
      margin-right: 10px;
    }

  @media only screen and (max-width: 600px) {
    .mobilecategory {
      display: block !important;
    }
  }
</style>
  
