{% load static %}
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="{{ad3.image.url}}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{{ad3.line1}}</h6>
                    <h3 class="text-white mb-3">{{ad3.line2}}</h3>
                    <a href="{{ad3.url}}" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="{{ad4.image.url}}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{{ad4.line1}}</h6>
                    <h3 class="text-white mb-3">{{ad4.line2}}</h3>
                    <a href="{{ad4.url}}" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>